body{
    background-color: #212121;
    color: #fff;
}

.container{
    margin-top: 15%;
    text-align: center;
}
#results {
    font-size: 22px;
    margin-top: 20px;
    font-weight: 900;
}
button{
    padding: 10px;
    width: 200px;
    font-weight: 800;
    font-size: 20px;
    background-color: #fff;
    color: #212121;
    border-radius: 20px;
    border: none;
}
#normal{
    color: #5aff5a
}
#underweight{
    color: red;
}
#overweight{
    color: red;
}
